<% @posts.each do |post|%>
  <div class="card col-sm-12 mb-4" style="width: 18rem;" id="post-<%=post.id%>">
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= post.created_at %></h6>
      <p class="card-text"><%= post.content %></p>
      <a href="<%= edit_post_path post %>" class="card-link btn btn-success">Update</a>
      <%= link_to 'Delete', post_path(post), html_options = {class: 'btn btn-danger', method: 'delete'}%>
    </div>
  </div>
<%end%>